/* Reset de Estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: border-box;
}

/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

/* Encabezado */
header {
    text-align: center;
    margin-bottom: 20px;
    
    

}

h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 5px;
}

/* Secciones */
.section {
    margin-bottom: 20px;
}

h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

/* Lista de Habilidades */
.skills {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.skill {
    background-color: #f0f0f0;
    color: #333;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}

/* Enlaces */
a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
}
.habilidadesprogramacion{
    margin-top: 30px;
    
}
.idiomas{
    margin-top: 30px;
}
/* Pie de Página */
.card text-center{
    background-color: #333;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
    background-color: #333;
}
hr{
    border: none;
    border-top: 2px solid black;
    height: 0;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

img{ max-width: 120px;
    height: 170px;
    float: left;
    margin-left: 30px;
    
}
h1, h2 {
    color: #333;
}

    
.btn btn-primary {
    display: inline-flex
}

