* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: border-box;
}
hr{
    border: none;
    border-top: 2px solid black;
    height: 0;
}
.principal{
    text-align: center;
}

.card{
    margin: auto;
}